body {
	margin:0;
	padding:0;
}
#big-list {
	float: left;
	width: 40%;
}

#big-list .list-title {
	width: 100%;
	text-align: center;
	background: #47a3da;
	color: #fff;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	cursor: pointer;
	border-bottom: 1px solid #fff;
}

#big-list .list-title:hover {
	color: #02639d;
}

#big-list .group-list {
	display: none;
}

#map {
	height: 400px;
	width:60%;
	float: right;
}
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}
.info i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
.leaflet-control-search .search-input {
	width: 290px;
	height: 20px;
	font-size: 14px;
	border: none;
}